$main_corlor: #0077b6;
$secundary_color: #a8dadc;
$base_color: #f1faee;
$buttons_color: #335F70;
$dark_color: rgba(0, 0, 0, 0.09);
$boder_color:#ccdbdc;
$sub_button_A:#0cac8c;
$sub_button_B:#f2403a;
$sub_button_C:#5d576b;
$top_bar_border:rgb(189, 186, 186);
$hover_color:#0C6291;